*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

.bg-nav{
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mt-100{
  margin-top:100px;
}

.topbar{
    position: fixed;
    background: #fff;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.8) ;
    width: 100% ;
    height: 60px;
    padding:0 20px ;
    display: grid;
    grid-template-columns: 2fr 10fr 0.1fr 4fr;
    align-items: center;
    z-index: 1;
}

.logo h2{
    color: #299863;
}

.search{
    position: relative;
    width: 60%;
    justify-self: center;
}

.search textarea{
    width: 70%;
    height: 60%;
    padding:0 20px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i{
    position: center;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100%- 60px);
    background: lightseagreen;
    overflow-x: hidden;
}

.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    width: 100%;
    list-style: none;
}
.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}



.main{  
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: #f5f5f5;

}
.cards{
  width: 130%;
  padding: 35px-20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 120px;
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: #299863;
}

.card-name{
    color: #888;
    font-weight: 600;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.icon-box i{
    font-size: 45px;
    color: #299863;
    width: 70%;
    padding: 35px-20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 80px;
}

.charts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 100%;
    padding: 10px;
    padding-top: 0;
}

.scatter_chart{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    width: 100%;
}
.bar_chart{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  width: 100%;
}
.line_chart{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  width: 100%;
}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  